<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.encore">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/decathlon_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/decathlon_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Encore">
        <activity android:name=".FinalScore"></activity>
        <activity android:name=".Event1500Metres" />
        <activity android:name=".EventJavelin" />
        <activity android:name=".EventPoleVault" />
        <activity android:name=".EventDiscus" />
        <activity android:name=".Event110MetreHurdles" />
        <activity android:name=".Event400Metres" />
        <activity android:name=".EventHighJump" />
        <activity android:name=".EventShotPut" />
        <activity android:name=".EventLongJump" />
        <activity android:name=".Event100Metres" />
        <activity android:name=".SelectPlayers" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlayGameActivity"
            android:label="Game Activity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

</manifest>